In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
Query_05_df = pd.read_csv("C:\\Users\\stell\\Documents\\GitHub\\Python\\Assessment_Python_DVDRental\\Query_05\\Query_5_SQL.csv")
Query_05_df.head()

   country_id         country          last_update
0           1     Afghanistan  2006-02-15 09:44:00
1           2         Algeria  2006-02-15 09:44:00
2           3  American Samoa  2006-02-15 09:44:00
3           4          Angola  2006-02-15 09:44:00
4           5        Anguilla  2006-02-15 09:44:00

In [3]:
country = pd.DataFrame(Query_05_df, columns=['country_id', 'country'])
print(country)

     country_id               country
0             1           Afghanistan
1             2               Algeria
2             3        American Samoa
3             4                Angola
4             5              Anguilla
..          ...                   ...
104         105               Vietnam
105         106  Virgin Islands, U.S.
106         107                 Yemen
107         108            Yugoslavia
108         109                Zambia

[109 rows x 2 columns]

In [4]:
country_id_mapping = Query_05_df[['country_id', 'country']].set_index('country').to_dict()['country_id']

In [6]:
grouping  = {
    'High income': ['Australia', 'Finland', 'France', 'Germany','Japan'],
    'Upper middle income': ['Brazil', 'Bulgaria', 'China', 'Malaysia','Turkey'],
    'Low and lower middle income': ['Egypt', 'Cambodia', 'India', 'Ethiopia' , 'Nepal'],}

country_data = []
for group, countries in grouping.items():
    for country in countries:
        country_data.append({
            'country': country,
            'country_id': country_id_mapping.get(country),
            'grouping': group
        })

country_df = pd.DataFrame(country_data)
country_df = country_df.set_index('country_id')
print(country_df)

              country                     grouping
country_id
8           Australia                  High income
33            Finland                  High income
34             France                  High income
38            Germany                  High income
50              Japan                  High income
15             Brazil          Upper middle income
17           Bulgaria          Upper middle income
23              China          Upper middle income
59           Malaysia          Upper middle income
97             Turkey          Upper middle income
29              Egypt  Low and lower middle income
18           Cambodia  Low and lower middle income
44              India  Low and lower middle income
31           Ethiopia  Low and lower middle income
66              Nepal  Low and lower middle income

In [7]:
merged_df = pd.merge(Query_05_df, country_df, on='country', how='right')
print(merged_df)

    country_id    country          last_update                     grouping
0            8  Australia  2006-02-15 09:44:00                  High income
1           33    Finland  2006-02-15 09:44:00                  High income
2           34     France  2006-02-15 09:44:00                  High income
3           38    Germany  2006-02-15 09:44:00                  High income
4           50      Japan  2006-02-15 09:44:00                  High income
5           15     Brazil  2006-02-15 09:44:00          Upper middle income
6           17   Bulgaria  2006-02-15 09:44:00          Upper middle income
7           23      China  2006-02-15 09:44:00          Upper middle income
8           59   Malaysia  2006-02-15 09:44:00          Upper middle income
9           97     Turkey  2006-02-15 09:44:00          Upper middle income
10          29      Egypt  2006-02-15 09:44:00  Low and lower middle income
11          18   Cambodia  2006-02-15 09:44:00  Low and lower middle income
12          44      India  2006-02-15 09:44:00  Low and lower middle income
13          31   Ethiopia  2006-02-15 09:44:00  Low and lower middle income
14          66      Nepal  2006-02-15 09:44:00  Low and lower middle income