In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
Query_02_df = pd.read_csv("C:\\Users\\stell\\Documents\\GitHub\\Python\\Assessment_Python_DVDRental\\Query_02\\Query_2_SQL.csv")
Query_02_df.head()

,film_id,title,description
0,1,Academy Dinosaur,A Epic Drama of a Feminist And a Mad Scientist...
1,2,Ace Goldfinger,A Astounding Epistle of a Database Administrat...
2,3,Adaptation Holes,A Astounding Reflection of a Lumberjack And a ...
3,4,Affair Prejudice,A Fanciful Documentary of a Frisbee And a Lumb...
4,5,African Egg,A Fast-Paced Documentary of a Pastry Chef And ...

In [3]:
def sentiment_detection(sentence):
    positive_words = ('Happy', 'Sunny', 'Positive', 'Touching', 'Optimistic', 'Wonderful')
    negative_words = ('Sad', 'Terrible', 'Frightening', 'Fateful', 'Scary','Fanciful')

    positive = any(sentence.count(i) > 0 for i in positive_words)
    negative = any(sentence.count(i) > 0 for i in negative_words)

    if positive == negative == False:
        return "neutral"
    elif positive != negative:
        return "positive" if positive else "negative"
    else:
        return "mixed"

In [4]:
Query_02_df['description'].apply(sentiment_detection)

0       neutral
1       neutral
2       neutral
3      negative
4       neutral
         ...
995     neutral
996    positive
997    negative
998    negative
999     neutral
Name: description, Length: 1000, dtype: object

In [5]:
Query_02_df['sentiment'] = Query_02_df['description'].apply(sentiment_detection)

In [6]:
print(Query_02_df['sentiment'])

0       neutral
1       neutral
2       neutral
3      negative
4       neutral
         ...
995     neutral
996    positive
997    negative
998    negative
999     neutral
Name: sentiment, Length: 1000, dtype: object

In [7]:
print(Query_02_df)

     film_id              title  \
0          1   Academy Dinosaur
1          2     Ace Goldfinger
2          3   Adaptation Holes
3          4   Affair Prejudice
4          5        African Egg
..       ...                ...
995      996     Young Language
996      997         Youth Kick
997      998       Zhivago Core
998      999  Zoolander Fiction
999     1000          Zorro Ark

                                           description sentiment
0    A Epic Drama of a Feminist And a Mad Scientist...   neutral
1    A Astounding Epistle of a Database Administrat...   neutral
2    A Astounding Reflection of a Lumberjack And a ...   neutral
3    A Fanciful Documentary of a Frisbee And a Lumb...  negative
4    A Fast-Paced Documentary of a Pastry Chef And ...   neutral
..                                                 ...       ...
995  A Unbelieveable Yarn of a Boat And a Database ...   neutral
996  A Touching Drama of a Teacher And a Cat who mu...  positive
997  A Fateful Yarn of a Composer And a Man who mus...  negative
998  A Fateful Reflection of a Waitress And a Boat ...  negative
999  A Intrepid Panorama of a Mad Scientist And a B...   neutral

[1000 rows x 4 columns]